
<ion-header>
  <ion-toolbar>
    <ion-title>Reservas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Mensaje de autorización para Invitados -->
  <div *ngIf="autorizacion === 'Invitado'" class="registration-message"
    style="text-align: center; padding: 20px;">
    <h2 style="color: rgb(255, 255, 255);">Registro Requerido</h2>
    <p style="color: rgb(255, 255, 255);">Debes registrarte para poder ver y
      añadir productos a tus Reservas.</p>
    <ion-button expand="full" (click)="irARegistro()">
      Registrarse
    </ion-button>
  </div>
  <ion-list>
    <ion-item *ngFor="let producto of reservas" class="product-container">
      <ion-label class="producto-info">
        <img *ngIf="producto.id_producto.imagenUrl"
          [src]="producto.id_producto.imagenUrl"
          alt="{{ producto.id_producto.Nombre }}" class="product-image">
        <h2 class="product-name">{{ producto.id_producto.Nombre }}</h2>
        <p class="product-category"><strong>Vendido por:</strong> {{
          producto.id_producto.id_tienda.Nombre }}</p>
        <p class="product-category"><strong>Precio:</strong> $ {{
          producto.id_producto.precio }}</p>
        <p class="product-category"><strong>Categoría:</strong> {{
          producto.id_producto.Categoria }}</p>
        <p class="product-price"><strong>Estado:</strong> {{
          producto.id_producto.Estado ? 'Disponible' : 'No disponible' }}</p>
        <p class="product-price"><strong>Cantidad:</strong> {{
          producto.id_producto.Cantidad}}</p>
        <p class="product-store">
          <strong>Calificación: </strong>
          <!-- Estrellas llenas -->
          <ion-icon
            *ngFor="let star of [].constructor(obtenerEstrellas(producto.id_producto.promedio_calificacion).estrellasLlenas)"
            name="star" color="warning"></ion-icon>
          <!-- Estrellas vacías -->
          <ion-icon
            *ngFor="let star of [].constructor(obtenerEstrellas(producto.id_producto.promedio_calificacion).estrellasVacias)"
            name="star-outline" color="warning"></ion-icon>
        </p>

        <!-- Botones -->
        <ion-button class="ver-producto-button" expand="block"
          (click)="verProducto(producto.id_producto._id)">
          Ver Producto
        </ion-button>
        <div class="button-group">
          <ion-button class="delete-button" (click)="eliminarReserva(producto)">
            <ion-icon name="close-circle-outline"></ion-icon>
          </ion-button>
          <ion-button class="reserve-button"
            (click)="contactarProducto(producto)">
            <ion-icon name="logo-whatsapp"></ion-icon>
          </ion-button>
          <ion-button class="location-button">
            <ion-icon name="information-circle"></ion-icon>
          </ion-button>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
