<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="Productos" href="/tabs/Productos">
      <ion-icon name="game-controller-outline"></ion-icon>
      <ion-label>Productos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Favoritos" href="/tabs/Favoritos">
      <ion-icon name="bookmark-outline"></ion-icon>
      <ion-label>Favoritos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="carrito" href="/tabs/carrito">
      <ion-icon name="pricetag-outline"></ion-icon>
      <ion-label>Reservas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="configuraciones" href="/tabs/configuraciones">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Configuracion</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  
</ion-tabs>
