  <ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Términos y Condiciones de Uso</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          Bienvenido/a a nuestra aplicación. Al acceder y utilizar este sitio web, aceptas estar sujeto a los siguientes
          términos y condiciones, los cuales tienen el propósito de garantizar una experiencia segura y transparente.
          Por favor, lee detenidamente antes de continuar:
        </p>
        <ion-item>
          <ion-label>
            <strong>Aceptación de los Términos</strong>
          </ion-label>
        </ion-item>
        <p>
          Al registrarte o acceder a este sitio, confirmas que aceptas cumplir con estos términos y condiciones. Si no estás de acuerdo
          con alguna parte de estos términos, no deberás utilizar nuestro servicio.
        </p>
        <ion-item>
          <ion-label>
            <strong>Privacidad y Protección de Datos</strong>
          </ion-label>
        </ion-item>
        <p>
          Nos comprometemos a proteger tu privacidad. Toda la información personal que nos proporciones será manejada de acuerdo
          con nuestra Política de Privacidad. No compartiremos tus datos con terceros sin tu consentimiento, excepto cuando
          sea requerido por la ley.
        </p>
        <ion-item>
          <ion-label>
            <strong>Uso del Contenido</strong>
          </ion-label>
        </ion-item>
        <p>
          Todo el contenido disponible en esta aplicación, incluidos textos, gráficos, logotipos, imágenes y software, es propiedad
          de la empresa o de sus proveedores de contenido. No está permitido reproducir, distribuir o utilizar este contenido
          sin autorización expresa.
        </p>
        <ion-item>
          <ion-label>
            <strong>Limitación de Responsabilidad</strong>
          </ion-label>
        </ion-item>
        <p>
          No seremos responsables por daños directos, indirectos, incidentales, especiales o consecuentes derivados del uso de
          nuestro servicio, incluyendo, sin limitación, la pérdida de datos, ganancias o interrupciones del servicio.
        </p>
        <ion-item>
          <ion-label>
            <strong>Modificación de Términos</strong>
          </ion-label>
        </ion-item>
        <p>
          Nos reservamos el derecho de actualizar o modificar estos términos y condiciones en cualquier momento.
          Te recomendamos revisar esta sección regularmente para estar al tanto de posibles cambios.
        </p>
        <ion-item>
          <ion-label>
            <strong>Suspensión o Terminación de Servicio</strong>
          </ion-label>
        </ion-item>
        <p>
          Podemos suspender o terminar el acceso a nuestra aplicación en caso de que se incumplan estos términos. Nos reservamos
          el derecho de hacerlo en cualquier momento y sin previo aviso.
        </p>
        <p style="text-align: center; font-weight: bold;">
          Al hacer clic en "Aceptar terminos y condiciones", confirmas que has leído, entendido y aceptado estos términos y condiciones.
        </p>
      </ion-card-content>
    </ion-card>
    <ion-button expand="block" color="primary" (click)="cerrarModal(true)">Cerrar</ion-button>
  </ion-content>
  