<ion-content>
  <div class="update-password-container">
    <h2>Actualizar Contraseña</h2>

    <!-- Campo para el email -->
    <ion-item>
      <ion-input
        placeholder="Correo electrónico"
        [(ngModel)]="email"
        type="email"
        required>
      </ion-input>
    </ion-item>
    <!-- Campo para nueva contraseña -->
    <ion-item>
      <div style="display: flex; align-items: center; width: 100%;">
        <ion-input
          placeholder="Nueva contraseña"
          [type]="showpassword ? 'text' : 'password'"
          [(ngModel)]="nuevopassword"
          required>
        </ion-input>
        <ion-button
          fill="clear"
          (click)="toggleForgetpasswordVisibility()"
          style="margin-left: 10px; height: auto; width: auto; padding: 0; min-width: 40px;">
          <ion-icon
          name="eye-outline"
          style="color: white;"
          [name]="showpassword ? 'eye-off-outline' : 'eye-outline'"
          ></ion-icon>
        </ion-button>
      </div>
    </ion-item>

    <!-- Campo para confirmar nueva contraseña -->
    <ion-item>
      <div style="display: flex; align-items: center; width: 100%;">
        <ion-input
          placeholder="Confirmar contraseña"
          [type]="showpassword ? 'text' : 'password'"
          [(ngModel)]="confirmarpassword"
          required>
        </ion-input>
        <ion-button
          fill="clear"
          (click)="toggleForgetpasswordVisibility()"
          style="margin-left: 10px; height: auto; width: auto; padding: 0; min-width: 40px;">
          <ion-icon
          name="eye-outline"
          style="color: white;"
          [name]="showpassword ? 'eye-off-outline' : 'eye-outline'"
          ></ion-icon>
        </ion-button>
      </div>
    </ion-item>

    <!-- Botón de actualización de contraseña -->
    <ion-button expand="block"
      (click)="olvidopassword()">Actualizar
      Contraseña</ion-button>

    <!-- Enlace para redirigir al login -->
    <ion-button expand="block" fill="clear" (click)="goToLogin()">
      Login
    </ion-button>
  </div>
</ion-content>
