<ion-content>
  <div class="update-password-container">
    <h2>Actualizar Contraseña</h2>
    <!-- Campo para nueva contraseña -->
    <ion-item>
      <div style="display: flex; align-items: center; width: 100%;">
        <ion-input
          placeholder="Contraseña actual"
          [type]="showPassword ? 'text' : 'password'"
          [(ngModel)]="nuevopassword"
          required>
        </ion-input>
        <ion-button
          fill="clear"
          (click)="togglePasswordVisibility()"
          style="margin-left: 10px; height: auto; width: auto; padding: 0; min-width: 40px;">
        </ion-button>
      </div>
    </ion-item>

    <!-- Campo para confirmar nueva contraseña -->
    <ion-item>
      <div style="display: flex; align-items: center; width: 100%;">
        <ion-input
          placeholder="Nueva contraseña"
          [type]="showPassword ? 'text' : 'password'"
          [(ngModel)]="confirmarpassword"
          required>
        </ion-input>
        <ion-button
          fill="clear"
          (click)="togglePasswordVisibility()"
          style="margin-left: 10px; height: auto; width: auto; padding: 0; min-width: 40px;">
          <ion-icon
            [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
            style="color: white;">
          </ion-icon>
        </ion-button>
      </div>
    </ion-item>

    <!-- Mensajes de error o éxito -->
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
    <div *ngIf="successMessage" class="success-message">
      {{ successMessage }}
    </div>

    <!-- Botón de actualización de contraseña -->
    <ion-button expand="block" (click)="actualizarPassword()">Actualizar
      Contraseña</ion-button>

    <!-- Enlace para redirigir al login -->
    <ion-button expand="block" fill="clear" (click)="goToLogin()">
      Volver a configuraciones
    </ion-button>
  </div>
</ion-content>
